html, body{
  background-color: #a9e2e4;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem;;
  text-align: center;
}

.awning{
  display: block;
  margin: 0;
  padding: 0;
}

h1{
    color: #fff;
    font-size: 80px;
    text-shadow: black 1px 0 10px;
    padding-bottom: 18px;
    margin-left: 50px;
}

.awning{
  margin: 0,auto, auto, auto;
}

.card {
    color: #000;
    background-color: #fff;
    padding-bottom: 20px;
    box-shadow: 0 15px 25px #817c7c33;
    font-size: medium;
    border-radius: 14px;
    backdrop-filter: blur(2px);
    text-align: center;
    margin-bottom: 30px;
    width: 300px;
    height: 450px;
}

.card img {
  height: 300px;
  width: 300px;
  object-fit:cover;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}